<mat-card class="widget-card">
        <mat-card-header>
                <mat-card-title>Sales Metrics</mat-card-title>
        </mat-card-header>

        <mat-card-content>
                <div class="chart-container">
                        <ngx-charts-bar-vertical                        
                         [view]="[300,300]"
                        [results]="salesChartData"
                        [gradient]="gradient"
                        [xAxis]="true"
                        [yAxis]="true"
                        [showXAxisLabel]="true"
                        [showYAxisLabel]="true"
                        [xAxisLabel]="'Month'"
                        [yAxisLabel]="'Sales'"
                       >
                      </ngx-charts-bar-vertical>
                </div>
        </mat-card-content>
</mat-card>