<div class="dashboard-container">
    <mat-toolbar color="primary" class="toolbar">
      <span>ABC Corporation Dashboard</span>
    </mat-toolbar>
  
    <div class="dashboard-content">
      <!-- Filters Section -->
      <div class="filters">
        <app-filters  (filterChanged)="onFilterChanged($event)" ></app-filters>
      </div>
  
      <!-- Metrics Section -->
      <div class="widgets-grid">
        
          <app-sales-metrics [data]="filteredDataSales"></app-sales-metrics>
        
  
        
          <app-customer-insights [data]="filteredDataCustomers"></app-customer-insights>
        
  
        
          <app-revenue-analysis [data]="filteredDataRevenue"></app-revenue-analysis>
        
  
        
          <app-inventory-management [data]="filteredDataInventory"></app-inventory-management>
        
      </div>
    </div>
  </div>
  