<div class="dashboard-container">
    <mat-toolbar color="primary" class="toolbar">
      <span>ABC Corporation Dashboard</span>
    </mat-toolbar>
  
    <div class="dashboard-content">
      <!-- Filters Section -->
      <div class="filters">
        <app-filters></app-filters>
      </div>
  
      <!-- Metrics Section -->
      <div class="widgets-grid">
        
          <app-sales-metrics></app-sales-metrics>
        
  
        
          <app-customer-insights></app-customer-insights>
        
  
        
          <app-revenue-analysis></app-revenue-analysis>
        
  
        
          <app-inventory-management></app-inventory-management>
        
      </div>
    </div>
  </div>
  